<div class="container">
  <!--Section: Comments-->
  <section class="my-5">
    <!-- Card header -->
      <div class="media d-block d-md-flex mt-4">
        <!--<img class="card-img-64 rounded-circle z-depth-1 d-flex mx-auto mb-3" src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg" alt="Generic placeholder image">-->
        <%= link_to gravatar_for(current_user), edit_user_registration_path, size: 64, :class => 'gravatar' %>
        <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <h5 class="font-weight-bold mt-0">
            <a class="purple-text" href=""><%= comment.user.full_name.titleize %></a>
            <a href="" class="pull-right text-default">
              <i class="fa fa-reply"></i>
            </a>
          </h5>
          <%= comment.description %>
        </div>
      </div>
  
  </section>
  <!--Section: Comments-->
</div>
<hr class="my-5">
