<%= form_for([@post, @comment], remote: true, :html => { role: "form" }) do |f| %>
  <!-- Quick Reply -->
  <div class="md-form mt-4">
    <label for="quickReplyFormComment">Your comment</label>
    <!--<textarea class="form-control md-textarea" id="quickReplyFormComment" rows="3"></textarea>-->
    <%= f.text_area :description, rows: "3", class: "form-control md-textarea" %>
    <div class="mx-auto my-4" style="width: 230px;">
      <%= image_submit_tag("https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true", method: :post, remote: true, class: "waves-effect waves-light btn-img") %>
    </div>
  </div>
<% end %>
  
    