<div class="container">
    <div class="md-form">
        <%= form_for([@post, @post.comments.build]) do |f| %>
        <div class="md-form">
            <i class="fa fa-pencil prefix fa-fonts"></i>
            <%= f.text_area :description,  class: "md-text_area" %>
        </div>
        
        <div class="mx-auto" style="width: 230px;">
          <%= image_submit_tag("https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-btn.png?raw=true", class: "waves-effect waves-light btn-img") %>
        </div>
    <% end %>
    </div>
</div>
