<div class="container mt">
  <!-- Grid row -->
  <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mb-3">

          <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion.png?raw=true" class="img-fluid z-depth-1" alt="Responsive image">

      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-3">

          
          <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/s1.jpg?raw=true" style="width:340px; height:227px;" class="img-fluid z-depth-1" alt="Responsive image">

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-3">

          <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/slavery.jpg?raw=true" style="width:340px; height:227px;" class="img-fluid z-depth-1" alt="Responsive image">

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-3">

          <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/s2.jpg?raw=true" style="width:340px; height:227px;" class="img-fluid z-depth-1" alt="Responsive image">

      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mb-3">

          <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/s3.jpg?raw=true" style="width:525px; height:350px;" class="img-fluid z-depth-1" alt="Responsive image">

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mb-3">

          <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/s3.jpg?raw=true" style="width:525px; height:350px;"  class="img-fluid z-depth-1" alt="Responsive image">

      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
