<% content_for :title do %>About Me<% end %>


<div class="container-small  mt-2x mb-2x">
  
  <!-- Card Wider -->
  <div class="card card-cascade wider">
  
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center" style="border: 2px solid purple;">
        <small class="text-center grey-text">Author</small>

      <!-- Title -->
      <h4 class="card-title"><strong class="indie-font goldenrod">Edward Houston</strong></h4>
      <div class="btn-group">
      <!-- Gravatar -->
        <%= link_to gravatar_for(current_user), edit_user_registration_path, size: 20, :class => 'gravatar' if current_user %> &nbsp;
      <!-- Gravatar -->
        <h5 class="purple-text pb-2"> <strong> archangel@gmail.com </strong></h5>
      </div>
      
      <!-- Text -->
      <p class="card-text">
        My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook"></i></a>
  
    </div>
  
  </div>
  <!-- Card Wider -->
  
  <div class="center">
      <%= link_to '', :back, class: "fas fa-hand-o-left fa-2x goldenrod" %>
    </div>
</div>


