<div class="container">
  <section id="portfolio" class="section mt">

                  <h1 class="section-heading text-center mb-5 pt-5 pb-3 wow fadeIn title-font" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Gallery</h1>

                  <!--First row-->
                  <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

                      <!--First column-->
                      <div class="col-md-12">

                          <div id="mdb-lightbox-ui"><!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe.
  		         It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

          <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
          <!-- don't modify these 3 pswp__item elements, data is added later on. -->
          <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
          </div>

          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
          <div class="pswp__ui pswp__ui--hidden">

              <div class="pswp__top-bar">

                  <!--  Controls are self-explanatory. Order can be changed. -->

                  <div class="pswp__counter"></div>

                  <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                  <!--<button class="pswp__button pswp__button--share" title="Share"></button>-->

                  <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                  <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                  <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                  <!-- element will get class pswp__preloader--active when preloader is running -->
                  <div class="pswp__preloader">
                      <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                              <div class="pswp__preloader__donut"></div>
                          </div>
                      </div>
                  </div>
              </div>

              <!--
  		            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
  		                <div class="pswp__share-tooltip"></div>
  		            </div>
  		       		-->

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                  <div class="pswp__caption__center"></div>
              </div>

          </div>

      </div>

  </div></div>

                          <!--Full width lightbox-->
                          <div class="mdb-lightbox no-margin" data-pswp-uid="1">

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(77).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(64).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(75).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(60).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(78).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/slavery.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(76).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(58).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(65).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                              <figure class="col-md-4">
                                  <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(59).jpg" data-size="781x1172">
                                      <img src="https://github.com/cwilliams3579/Choosen-uploads/blob/master/afrosamurai-single.jpg?raw=true" class="img-fluid gal-img">
                                  </a>
                              </figure>

                          </div>
                          <!--/Full width lightbox-->

                      </div>
                      <!--/First column-->

                  </div>
                  <!--/First row-->

  	        </section>

</div>
