/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1d1d1d; }

  .twitter {
    color: #1da1f2;
  }

  .fb-ic {
    color: #3B5998;
  }

  .drib-ic {
    color: #ea4c89;
  }

  .gold-gradient {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.md-form {
  .card {
    background-image: url(https://github.com/cwilliams3579/Choosen-uploads/blob/master/lion-logo.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.mt {
  margin-top: 100px;
}

.mb {
  margin-bottom: 100px;
}

.gold-text, .card-title a {
  color: goldenrod !important;
}

  .goldenrod-text  {

  color:	#D5AD6D !important; /*if no support for background-clip*/

	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-outline-gold {
  border: 2px solid #D5AD6D !important;
  background-color: transparent !important;
  color: #D5AD6D !important; }

.mx-auto {
  text-align: center !important;
  margin: 0 auto !important;
  width: 50px;
}

.sn-bg-1 {
    background-image: url(https://www.xmple.com/wallpaper/beehive-brown-black-hexagon-honeycomb-1920x1080-c2-000000-daa520-l2-9-117-a-15-f-5.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item img {
  width: 1110px;
  height: 575px;
}

.container-small .card {
  background: #000000;

}

.card-block {
  background: #000000;
}

.fa-fonts {
  color: goldenrod;
}

.card .card-block .form-header {
  background: transparent;
  border: 2px solid goldenrod;
}

.container-small .card {
  border: 4px solid goldenrod;
}
