<h1 class="h1-responsive text-center">Editing Review</h1>

<%= render 'form', review: @review %>

<%= link_to '', @review, class: "fas fa-eye fa-2x goldenrod" %> |
<%= link_to '', reviews_path, class: "fas fa-hand-o-left fa-2x purple-text" %>
