<!-- Footer -->
<footer class="page-footer font-small" style="background:#000000;">
  <!-- Footer Links -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-8 py-5">
        <div class="mb-5 flex-center">
          <!--Facebook-->
      <a type="button" class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook"></i></a>
      <!--Twitter-->
      <a type="button" class="btn-floating btn-lg btn-tw"><i class="fa fa-twitter"></i></a>
      <!--Google +-->
      <a type="button" class="btn-floating btn-lg btn-gplus"><i class="fa fa-google-plus"></i></a>
      <!--Linkedin-->
      <a type="button" class="btn-floating btn-lg btn-li"><i class="fa fa-linkedin"></i></a>
      <!--Instagram-->
      <a type="button" class="btn-floating btn-lg btn-ins"><i class="fa fa-instagram"></i></a>
      <!--Pinterest-->
      <a type="button" class="btn-floating btn-lg btn-pin"><i class="fa fa-pinterest"></i></a>
      <!--Youtube-->
      <a type="button" class="btn-floating btn-lg btn-yt"><i class="fa fa-youtube"></i></a>
      <!--Dribbble-->
      <a type="button" class="btn-floating btn-lg btn-dribbble"><i class="fa fa-dribbble"></i></a>
    </div>

  </div>
      <!-- Grid column -->
</div>
    <!-- Grid row-->
</div>
  <!-- Footer Links -->

  

</footer>
<!-- Footer -->
